.LogoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @media screen and (max-width: 425px) {
        width: 30px;

        img {
            width: 40px;
        }
    }
}

.cartQuantity {
    position: absolute;
    color: red;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Anton', sans-serif;

    @media screen and (max-width: 425px) {
        font-size: .7rem;
    }
}