.LogoContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cartQuantity {
    position: absolute;
    color: red;
    margin-top: 1.2rem;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Anton', sans-serif;
}