.navbarComponentContainer {
    display: flex;
    color: black;
    width: 100vw;
    justify-content: space-between;
    padding: .5rem 0;
    .navbarLogoContainer {
        padding: 0 .5rem;
        @media screen and (max-width: 425px) {
            img {
                width: 30px;
            }
        }
    }

    .navbarBrandContainer, .navbarActionContainer{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        
        .navbarItem {
            margin: .5rem 1rem;
            padding: 0 1rem;
            cursor: pointer;
            
        }

        .userInfoContainer {
            margin: 0 2rem;
            
            @media screen and (max-width: 425px) {
                margin: 0;;
            }
        }
        

        
    }

    .navbarBrandContainer {
        .navbarItem {
            font-size: 2rem;
            font-family: 'Lobster', cursive;

            @media screen and (max-width: 425px) {
                font-size: 1rem;
                margin: 0;
            }
        }

    }

    .navbarActionContainer {
        font-family: 'Chivo Mono', monospace;

        @media screen and (max-width: 425px) {
            font-size: .8rem;
        }
    }

    @media screen and (max-width: 425px) {
        padding: 0;
    }

}
